3D_Space_Shooter/SpaceShooter/Saved/
3D_Space_Shooter/SpaceShooter/Platforms/
3D_Space_Shooter/SpaceShooter/Intermediate/
*__*__*
3D_Space_Shooter/SpaceShooter/Content/SpaceShooter/Blueprints/SpaceSkybox/MySkybox.dds